<header>
    <div class="header-container">
        <a id="logo" href="/">Fixxo.</a>

        <nav>
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
        </nav>

        <div></div>
    </div>
  
</header>
